@model IEnumerable<LibraryManagement.Areas.Identity.Data.LibraryManagementUser>

<div class="row">
    <div class="col-sm-12 bg-light">
        <nav>
            <ul class="breadcrumb pt-2">
                <li class="breadcrumb-item active"><strong>Users</strong></li>
            </ul>
        </nav>
    </div>
</div>
<div class="container mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(user => user.FirstName)</th>
                <th>@Html.DisplayNameFor(user => user.LastName)</th>
                <th>@Html.DisplayNameFor(user => user.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(user => user.Email)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>